@import "abstracts";

.details {
  display: flex;
  flex-direction: row;

  & > div {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  & > .tabs {
    flex: 2;
  }

  h2 {
    font-weight: 400;
    border-bottom: 2px solid #000;
    margin-bottom: 20px !important;
  }

  .data {
    & > div {
      display: flex;
      flex-direction: row;

      > span {
        flex: 1;
        padding: 5px 0;

        &:first-child {
          color: lighten($col-grey, 5%);
        }
        &:last-child {
          font-weight: 400;
        }
      }
    }
  }
}


.order-details {
  display: flex;
  flex-wrap: wrap;

  & > div {
    flex: 1 1 calc(100% / 3);
    padding: 15px;

    &.customer-info {
      flex-basis: calc(100% / 3);
    }
    &.tabbed-info {
      flex-basis: calc((100% / 3)*2);
    }

    h2 {
      font-weight: 400;
      border-bottom: 2px solid #000;
      margin-top: 0;
      margin-bottom: 1.25rem;
    }

    .data {
      .field {
        display: flex;
        flex-direction: row;

        > span {
          flex: 1;
          padding: 5px 0;

          &:first-child {
            color: lighten($col-grey, 5%);
          }
          &:last-child {
            font-weight: 400;
          }
        }
      }
    }
  }

  .documents {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        // flex: 1;
        width: calc(100% / 3);
      }
    }
  }

  .tabbed-info {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-bottom: 2px solid #000;
      display: flex;
      flex-direction: row;
      li {
        a {
          font-family: $font-heading-family;
          font-size: 1.5rem;
          color: $col-text;
          padding: 0 15px;
          &::after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 0;
            right: 0;
            height: 4px;
            width: 100%;
            background-color: $col-primary;
            display: block;
            opacity: 0;
            @include transition(opacity, .2s, linear);
          }
          &.active {
            color: $col-primary;
            position: relative;
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
    .tabs {
      margin-top: 1.25rem;
      overflow: hidden;
      .tab {
        display: none;
        &.active {
          display: block;
        }
        & > h2 {
          display: none;
        }
      }
      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          border-bottom: 1px solid $col-grey;
          th {
            text-align: left;
            padding: 5px;
            font-weight: 500;
          }
        }
        tbody {
          tr {
            td {
              padding: 5px;
              font-weight: 400;
              font-size: .875rem;
              @include transition(all, .2s, linear);
            }      
            &:nth-child(even) {
              td {
                background-color: lighten($col-grey-lightest, 3%);
              }
            }
            &:hover {
              td {
                background-color: lighten($col-primary, 15%);
                color: #000000;
              }
            }
          }
        }
        tfoot {
          border-top: 1px solid $col-grey;
          border-bottom: 1px solid $col-grey;
          tr {
            td {
              padding: 5px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  /deep/ .ngx-gallery-preview-icons .ngx-gallery-icon-content,
  /deep/ .ngx-gallery-preview.ngx-gallery-active .ngx-gallery-icon-content,
  /deep/ .ngx-gallery-icon-content {
    color: #fff !important;
  }
  /deep/ a.ngx-gallery-thumbnail.ngx-gallery-clickable {
    border: 2px solid $col-grey-light;
    &::after {
      display: none !important;
    }
  }

  @include media-query('lg', max) {
    & > div {
      flex-basis: 100%;
    }
    .order-info {
      order: 1;
    }
    .customer-info {
      order: 2;
    }
    .additional-info {
      order: 3;
    }
    .tabbed-info {
      order: 4;
      .tab-header {
        display: none !important;
      }
      .tabs {
        .tab {
          display: block !important;
          & > h2 {
            display: block !important;
          }
        }
      }
    }
    .documents {
      order: 5;
    }

    
    
  }
}
