<p *ngIf="loadingData">Loading Order Details...</p>
<p *ngIf="showNoData && !loadingData">There is no data to display for order number: <strong>{{ orderId }}</strong></p>
<div class="order-details" *ngIf="!showNoData">
  <div class="order-info">
    <h2>Order Information</h2>
    <div class="data">
      <div class="field">
        <span>Order Number</span>
        <span>{{ dataGeneralDetails.Order_Number }}</span>
      </div>
      <div class="field">
        <span>External Reference</span>
        <span>{{ dataGeneralDetails.ExtReference || '-'  }}</span>
      </div>
      <div class="field">
        <span>Order Date</span>
        <span>{{ dataGeneralDetails.Order_Date | date: "dd/MM/yyyy H:mm" }}</span>
      </div>
      <div class="field">
        <span>Value</span>
        <span>{{ dataGeneralDetails.Order_Value | number: '1.2-2' || '-' }}</span>
      </div>
      <div class="field">
        <span>Progress</span>
        <span>{{ dataGeneralDetails.Progress || '-'  }}</span>
      </div>
    </div>
  </div>
  <div class="additional-info">
    <h2>Additional Information</h2>
    <div class="data">
      <div class="field">
        <span>Order Type</span>
        <span>{{ dataAdditionalInfo.OrderType || '-'  }}</span>
      </div>
      <div class="field">
        <span>Category</span>
        <span>{{ dataAdditionalInfo.Category || '-'  }}</span>
      </div>
      <div class="field">
        <span>Branch</span>
        <span>{{ dataAdditionalInfo.Branch || '-'  }}</span>
      </div>
      <div class="field">
        <span>Courier Assigned</span>
        <span>{{ dataAdditionalInfo.Courier || '-'  }}</span>
      </div>
      <div class="field">
        <span>Rule Applied</span>
        <span>{{ dataAdditionalInfo.CourierRule || '-'  }}</span>
      </div>
      <div class="field">
        <span>Coordinates</span>
        <span>{{ dataAdditionalInfo.Coordinates || '-'  }}</span>
      </div>
      <div class="field">
        <span>Reference</span>
        <span>{{ dataAdditionalInfo.CourierReference || '-'  }}</span>
      </div>
    </div>
  </div>
  <div class="documents">
    <h2>Documents</h2>
    <div class="data">
      <div *ngIf="galleryOptions?.length && galleryImages?.length; else noDocuments">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <ng-template #noDocuments>
        <p>There are no documents to display for this order</p>
      </ng-template>
    </div>
  </div>
  <div class="customer-info">
    <h2>Customer Information</h2>
    <div class="data">
      <div class="field">
        <span>Customer name</span>
        <span>{{ dataGeneralDetails.Customer_Name }}</span>
      </div>
      <div class="field">
        <span>Identity Number</span>
        <span>{{ dataGeneralDetails.Customer_IdNumber || '-'  }}</span>
      </div>
      <div class="field">
        <span>Phone (Day)</span>
        <span>{{ dataGeneralDetails.Customer_ContactDay || '-' }}</span>
      </div>
      <div class="field">
        <span>Phone (Mobile)</span>
        <span>{{ dataGeneralDetails.Customer_ContactCell || '-' }}</span>
      </div>
      <div class="field">
        <span>Phone (Other)</span>
        <span>{{ dataGeneralDetails.Customer_ContactOther || '-' }}</span>
      </div>
      <div class="field">
        <span>Email</span>
        <span>{{ dataGeneralDetails.Customer_Email || '-' }}</span>
      </div>
      <div class="field">
        <span>Address</span>
        <span>{{ dataGeneralDetails.Customer_Delivery_Address || '-'  }}</span>
      </div>
      <div class="field">
        <span>Expected Delivery Date</span>
        <span>{{ dataGeneralDetails.Expected_DeliveryDate | date: "dd/MM/yyyy H:mm" || '-'  }}</span>
      </div>
      <div class="field">
        <span>Instructions</span>
        <span>{{ dataGeneralDetails.Instructions || '-'  }}</span>
      </div>
    </div>
  </div>
  <div class="tabbed-info">
    <ul class="tab-header">
      <li><a data-ref="tab-products" (click)="switchTab($event, 'tab-products')" class="active">Products</a></li>
      <li><a data-ref="tab-dispatch" (click)="switchTab($event, 'tab-dispatch')">Dispatch</a></li>
      <li><a data-ref="tab-comments" (click)="switchTab($event, 'tab-comments')">Comments</a></li>
      <li><a data-ref="tab-progress" (click)="switchTab($event, 'tab-progress')">Progress</a></li>
      <li><a data-ref="tab-courier" (click)="switchTab($event, 'tab-courier')">Courier</a></li>
    </ul>
    <div class="tabs">
      <div class="tab active" id="tab-products">
        <h2>Products Ordered</h2>
        <div class="data">
          <table>
            <thead>
              <tr>
                <th>SKU</th>
                <th>Model</th>
                <th>Item Name</th>
                <th style="text-align:center">Quantity</th>
                <th style="text-align:center">Back Ordered</th>
                <th style="text-align:right">Billed Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of dataOrderProducts">
                <td data-label="SKU">{{ product.SKU }}</td>
                <td data-label="Model">{{ product.Model }}</td>
                <td data-label="Item Name">{{ product.ItemName }}</td>
                <td data-label="Quantity" style="text-align:center">{{ product.Quantity }}</td>
                <td data-label="Back Ordered" style="text-align:center">{{ product.BackOrdered }}</td>
                <td data-label="Billed Price" style="text-align:right">{{ product.BilledPrice | number: '1.2-2' }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6" style="text-align:right">{{ getProductsBilledTotal() | number: '1.2-2' }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="tab" id="tab-dispatch">
        <h2>Dispatch</h2>
        <div class="data">
          <table>
            <thead>
              <tr>
                <th>SKU</th>
                <th>Item Name</th>
                <th>Serial Number</th>
                <th>IMEI Number</th>
                <th>Dispatched</th>
                <th>Delivered</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dispatch of dataDispatchDetails">
                <td data-label="SKU">{{ dispatch.Sku }}</td>
                <td data-label="Item Name">{{ dispatch.ItemName }}</td>
                <td data-label="Serial Number">{{ dispatch.SerialNo || '-' }}</td>
                <td data-label="IMEI Number">{{ dispatch.IMEI || '-' }}</td>
                <td data-label="Dispatched">{{ dispatch.Shipping_Date | date: "dd/MM/yyyy H:mm" || '-' }}</td>
                <td data-label="Delivered">{{ dispatch.DeliveryDate | date: "dd/MM/yyyy H:mm" || '-' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab" id="tab-comments">
        <h2>Comments</h2>
        <div class="data">
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Comment</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comment of dataOrderComments">
                <td data-label="Date">{{ comment.Comment_Date | date: "dd/MM/yyyy H:mm" }}</td>
                <td data-label="Comment">{{ comment.Comment_Text }}</td>
                <td data-label="User">{{ comment.UserName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab" id="tab-progress">
        <h2>Progress</h2>
        <div class="data">
          <table>
            <thead>
              <tr>
                <th>Event Date</th>
                <th>Effective Date</th>
                <th>Progress</th>
                <th>User</th>
                <th>Reason</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let progress of dataOrderProgressDetails">
                <td data-label="Event Date">{{ progress.EventDate | date: "dd/MM/yyyy H:mm" }}</td>
                <td data-label="Effective Date">{{ progress.EffectiveDate | date: "dd/MM/yyyy H:mm" }}</td>
                <td data-label="Progress">{{ progress.Progress }}</td>
                <td data-label="User">{{ progress.FullName }}</td>
                <td data-label="Reason">{{ progress.Reason || '-' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab" id="tab-courier">
        <h2>Courier</h2>
        <div class="data">
          <table>
            <thead>
              <tr>
                <th>Event Date</th>
                <th>Status</th>
                <th>Description</th>
                <th>Code</th>
                <th>Account</th>
                <th>Consignment ID</th>
                <th>Captured</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let courier of dataCourierDetails">
                <td data-label="Event Date">{{ courier.EventDate | date: "dd/MM/yyyy H:mm" }}</td>
                <td data-label="Status">{{ courier.Status }}</td>
                <td data-label="Description">{{ courier.MsgText }}</td>
                <td data-label="Code">{{ courier.CourierCode }}</td>
                <td data-label="Account">{{ courier.Account }}</td>
                <td data-label="Consignment ID">{{ courier.ConsignmentId }}</td>
                <td data-label="Date Captured">{{ courier.CaptureDate | date: "dd/MM/yyyy H:mm" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
