@import "abstracts";

table {
  @include media-query('lg', max) {
    border: 0;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-top: 3px solid #ddd;
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 15px;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right !important;
      font-weight: 500;

      &::before {
        // aria-label has no advantage, it won't be read inside a table content: attr(aria-label);
        content: attr(data-label);
        float: left;
        font-weight: 300;
      }
      &:last-child {
        border-bottom: 0;
      }
    }

  }
}