@import "abstracts";

.field-button {
  text-align: right;
  position: relative;

  .sk-cube-grid {
    display: none;
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;

    &.active {
      display: inline-block;
    }
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $col-primary;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    }
  }

  button {
    display: inline-block;
    margin: 5px 0 5px 10px;
    padding: 8px 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: $col-primary;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
    background-position: center;
    transition: background .6s ease-in-out, box-shadow .3s ease-in-out;

    i,
    span {
      color: #ffffff;
      vertical-align: middle;
      display: inline-flex !important;
      line-height: 24px;
      transition: text-shadow .3s linear;
    }
    i {
      margin-right: 10px;
      font-size: 24px;
    }
    span {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &:hover,
    &:focus {
      background: lighten($col-primary, 5%) radial-gradient(circle, transparent 1%, lighten($col-primary, 5%) 1%) center/15000%;
      outline: none;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.3);

      i,
      span {
        text-shadow: 0px 0px 8px rgba(255, 255, 255, .75);
      }
    }

    &:active {
      background-color: lighten($col-primary, 30%);
      background-size: 100%;
      transition: background 0s;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $col-grey-lightest;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);

      i,
      span {
        color: $col-grey-light;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, .75);
      }

      &:hover,
      &:focus {
        background: $col-grey-lightest;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
      }
    }

  }
}
