@import "abstracts";

.field-text {
    display: flex;
    position: relative;
    margin: 2.5em 0;
    width: 100%;

    span.error {
        display: block;
        position: absolute;
        bottom: -20px;
        font-size: 11px;
        left: 35px;
        color: $col-error;
        font-weight: 500;
    }

    label {
        color: $col-forms-label;
        font-size: 18px;
        line-height: 1em;
        font-weight: 400;
        position: absolute;
        pointer-events: none;
        left: 0;
        bottom: 5px;
        @include transition(all, .25s, ease);
        text-transform: uppercase;
    }

    .bar {
        @include absolute(left 0 right 0 bottom 0);
        display:block;
        height: 2px;
        background: $col-grey;
        width: auto;
        overflow: hidden;

        &::before {
            content: '';
            @include absolute(top 0 left 0);
            height: 2px;
            width: 0;
            background: $col-primary;
            @include transition(width, .3s, ease-in-out);
        }
    }

    input {
        font-size:18px;
        line-height: 1em;
        padding:5px 0 4px 0;
        display:block;
        width:100%;
        font-family: $font-body-family;
        font-weight: 400;
        border:none;
        border-bottom:1px solid $col-grey;
        background: transparent;
        outline: none;
        @include transition(border-color, .1s, linear);
        @include input-placeholder {
            color: transparent;
        }

        &:not(:placeholder-shown),
        &:focus {
            ~ label {
                @include transform(translateY(-26px));
                font-size: 14px;
                font-weight: 500;
                pointer-events: all;
            }
        }

        &:focus {
            outline:none;
            border-color: $col-primary;

            ~ label {
                color: $col-primary;
            }

            ~ .bar::before {
                width: 100%;
            }
        }
    }

    &.invalid {
        label {
            color: $col-error;
        }
        input {
            border-color: $col-error;
        }
        .bar {
            background: $col-error;
        }
        &.with-icon {
            i.appicon {
                color: $col-error;
            }
        }
    }

    &.with-icon {
        i.appicon {
            position: absolute;
            font-size: 32px;
            top: 2px;
            @include transition(color, .2s, ease);
            color: $col-forms-label;
        }
        input {
            &:focus {
                ~ i.appicon {
                    color: $col-primary;
                }
            }
        }
        input,
        label,
        .bar {
            margin-left: 35px;
        }
    }

    &.light {
        label {
            color: $col-grey-light;
        }
        input {
            border-color: #ffffff;
            color: #ffffff;

            &:focus {
                ~ label {
                    color: $col-primary;
                }
            }
        }
        .bar {
            background: $col-grey-light;
        }

        &.with-icon {
            input {
                &:focus {
                    ~ i.appicon {
                        color: $col-grey-light;
                    }
                }
            }
        }
    }
}