@import "abstracts";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.appicon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    color: inherit;
    vertical-align: middle;
    font-size: inherit;
}

// Font-Awesome Subset for NGX Gallery
@include font-face('Font-Awesome-Subset', 'assets/fonts/Font-Awesome');
[class^="fa-"], [class*=" fa-"], .fa {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Font-Awesome-Subset' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-repeat:before {
  content: "\f01e";
}
.fa-rotate-right:before {
  content: "\f01e";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-rotate-left:before {
  content: "\f0e2";
}
.fa-undo:before {
  content: "\f0e2";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-chevron-circle-left1:before {
  content: "\f137";
}
.fa-chevron-circle-right1:before {
  content: "\f138";
}
.fa-times-circle:before {
  content: "\e900";
}
.fa-close:before {
  content: "\e901";
}
.fa-remove:before {
  content: "\e901";
}
.fa-times:before {
  content: "\e901";
}
.fa-chevron-circle-right:before {
  content: "\e902";
}
.fa-chevron-circle-left:before {
  content: "\e903";
}