@import "abstracts";
//----------------------------------------------------------------------------------------------------------------------

html {
	@include box-sizing(border-box);
	height: 100%;

	body {
		height: inherit;
	}
}

*, *:before, *:after {
	@include box-sizing(inherit);
}

img {
	// width: 100%;
}

a {
  cursor: pointer;
}
