@import "abstracts";
//----------------------------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:300,400,400i,500');

* {
    font-family: $font-body-family;
	font-weight: $font-body-weight;
	line-height: $font-body-lineheight;
    color: $col-text;
}

// ============================================== HEADINGS
h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading-family;
	font-weight: $font-heading-weight;
	line-height: $font-heading-lineheight;
}



// ============================================== BODY TEXT
strong {
    color: inherit;
    font-weight: 500;
}

// ============================================== HYPERLINKS
a {
    color: $col-primary;
    text-decoration: none;
    outline: none;
	position: relative;
	font-weight: 400;
	@include transition(all, .25s, linear);

	@if $use-standard-hyperlink-decoration == false {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 2px;
			height: 1px;
			width: 0;
			background: $col-primary-dark;
			transition: width .2s ease-in-out;
		}
	}

    &:focus, 
    &:hover {
        color: $col-primary-dark;
		@if $use-standard-hyperlink-decoration == true {
			text-decoration: underline;
		}

		@if $use-standard-hyperlink-decoration == false {
			&:after {
				width: 100%;
			}
		}
    }
}