<p *ngIf="searchResultsMessage" [innerHTML]="searchResultsMessage"></p>

<table id="search-results" *ngIf="showSearchResultsTable">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>External Reference</th>
      <th>Order Date</th>
      <th>Customer Name</th>
      <th>Customer ID Number</th>
      <th>Progress</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of searchResults">
      <td data-label="Order Number"><a class="order-number" (click)="viewOrderDetails(result.Order_Number)">{{ result.Order_Number }}</a></td>
      <td data-label="External Reference">{{ result.ExtReference }}</td>
      <td data-label="Order Date">{{ result.Order_Date | date : "dd/MM/yyyy H:mm" }}</td>
      <td data-label="Customer Name">{{ result.Customer_Name }}</td>
      <td data-label="Customer ID">{{ result.Customer_IdNumber }}</td>
      <td data-label="Progress">{{ result.Progress }}</td>
      <td data-label="Actions"><a class="details" (click)="viewOrderDetails(result.Order_Number)">View details</a></td>
    </tr>
  </tbody>
</table>
