@import "abstracts";

#search-results {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 2px solid #000;

    th {
      text-align: left;
      padding: 10px 5px;
      font-weight: 500;
    }
  }

  tbody {
    tr {
      td {
        padding: 10px 5px;
        @include transition(all, .2s, linear);

        a {
          &.order-number {
            padding: 3px 5px;
            background-color: $col-grey-dark;
            color: $col-primary;
            &::after {
              display: none;
            }
            &:hover {
              background-color: $col-primary;
              color: $col-grey-darkest;
            }
          }
          &.details {

          }
        }
      }

      &:nth-child(even) {
        td {
          background-color: lighten($col-grey-lightest, 3%);
        }
      }

      &:hover {
        td {
          background-color: lighten($col-grey, 7%);
          color: #ffffff;
        }
      }
    }
  }
}
