<h2>Trends</h2>
<h3>Performance</h3>
<div id="dash-trends-performance"></div>

<h2>Contact Centre</h2>
<h3>Address Verification Rate</h3>
<div id="dash-contactcentre-avr"></div>
<h3>Outbound</h3>
<div id="dash-contactcentre-outbound"></div>
<h3>Inbound</h3>
<div id="dash-contactcentre-inbound"></div>

<h2>Logistics</h2>
<h3>Delivery Rate</h3>
<div id="dash-logistics-deliveryrate"></div>
<h3>Courier Performance</h3>
<div id="dash-logistics-courierperformance"></div>

<h2>Non-Delivery</h2>
<h3>Cancellation Rate</h3>
<div id="dash-nd-cancellationrate"></div>
<h3>Return Rate</h3>
<div id="dash-nd-returnrate"></div>
<h3>Cancellation Reason</h3>
<div id="dash-nd-cancellationreason"></div>
<h3>Return Reason</h3>
<div id="dash-nd-returnreason"></div>