div.yfReportFooter {
    display: none !important;
}

h2 {
    border-top: 2px solid #000;
    padding-top: 20px;
    margin-top: 20px;
    
    &:first-child {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
    }
}

h3 {
    font-weight: 500;
}