@import "abstracts";

.app-container {
    height: 100%;

    .route-container {
        padding: 80px 20px 20px 250px;
    }

    .sidebar,
    .topbar {
        background-color: $col-grey-dark;
        color: #ffffff;
    }
    .sidebar {
        z-index: 1001;
        width: 230px;
        @include fixed(top 0 bottom 0);
        padding: 10px;

        .logo {
            img {
                display: inline-block;
                max-height: 50px;
                width: auto;
                vertical-align: middle;
            }
            span {
                display: inline-block;
                font-family: $font-heading-family;
                color: $col-primary;
                font-weight: 300;
                font-size: 40px;
                line-height: 50px;
                vertical-align: middle;
                margin-left: 10px;
            }
        }

        .user {
          color: $col-grey-lightest;
          border-bottom: 1px solid $col-grey;
          padding-bottom: 10px;
          display: none;
          span {
            color: inherit;
            font-size: 14px;
          }
          a {
            display: block;
          }
        }

        .links {
            margin-top: 20px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        display: block;
                        padding: 15px 0;
                        color: $col-grey-light;
                        i {
                            font-size: 24px;
                            vertical-align: bottom;
                            margin-right: 10px;
                        }
                        &::after {
                            display: none;
                        }
                        &:hover,
                        &:focus {
                            color: $col-primary;
                        }
                    }

                    &.divider-below {
                        border-bottom: 1px solid $col-grey;
                    }
                }
            }
        }
    }

    .topbar {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 230px;
        right: 0;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .title {
            flex-grow: 1;
            line-height: 50px;
            font-size: 26px;
            color: #ffffff;
            font-family: $font-heading-family;
            padding-left: 10px;
            border-left: 1px solid $col-grey;
        }

        .user {
            flex-grow: 0;
            padding: 0 10px;
            text-align: right;
            max-height: 50px;
            line-height: 25px;
            font-size: 14px;
            z-index: 100;
            span.email {
                color: $col-grey-light;
                display: block;
                line-height: inherit;
                font-size: inherit;
            }
            a {
                color: #ffffff;
                display: inline;
                line-height: inherit;
                font-size: inherit;
                &::after {
                    display: none !important;
                }
                i {
                    color: inherit;
                    vertical-align: middle;
                    font-size: 16px;
                }
                &:hover,
                &:focus {
                    color: $col-primary;
                }
            }

        }

        .merchant {
            flex-grow: 0;
            padding: 0 10px;
            text-align: right;

            a {
                display: block;
                text-decoration: none !important;
                img {
                    max-height: 50px;
                    width: auto;
                    display: block;
                }
                &::after {
                    display: none !important;
                }
                &.single {
                    pointer-events: none;
                }
            }
        }
    }
}

.overlay-search,
.overlay-switch {
    @include fixed(top 0 left 0 right 0 bottom 0);
    z-index: 1009;
    background-color: black(.8);
    color: #ffffff !important;
    @include transition(transform, .3s, ease-in-out);

    &.active {
        transform: translateX(0);
    }

    a.close {
        display: block;
        @include fixed(top 10px right 10px);
        color: #fff;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $col-primary;
        }

        i {
            font-size: 40px;
            color: inherit;
        }

        &::after {
            display: none;
        }
    }

    .wrapper {
        margin: 0 auto;
        max-width: 800px;
        margin-top: 100px;

        @include media-query('sm', max) {
            margin-top: 0;
        }

        h2 {
          margin-top: 0;
        }

        .divider {
            width: 24px;
            margin: 0 30px;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 2px;
                height: 100%;
                background-color: #3c3c3c;
                z-index: -1;
                margin: 0 10px;
            }

            span {
                display: block;
                font-size: 11px;
                font-weight: 500;
                color: #ccc;
                @include circle(24px);
                border-radius: 50%;
                background-color: #3c3c3c;
                text-align: center;
                line-height: 24px;
                @include center-vh;
            }
        }
    }

    h2 {
        color: #ffffff;
    }
}
.overlay-search {
    transform: translateX(-100%);

    .fields-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;

      .left,
      .right {
        flex-basis: 50%;
      }
      .divider {
        flex-basis: auto;
      }
    }
}
.overlay-switch {
    transform: translateX(100%);

    .field-text {
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        flex-basis: 20%;

        a {
          display: block;
          margin: 10px;

          .logo-wrapper {
            border: 2px solid transparent;
            @include transition(border-color, .2s, linear);

            .logo-container {
              background: #ffffff;
              margin: 2px;
              position: relative;

              img {
                display: block;
                padding: 5px;
                max-height: 55px;
                margin: auto;
                width: auto;
              }
            }
          }

          span {
            display: block;
            margin-top: 3px;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            color: #acacac;
            @include transition(color, .2s, linear);
          }

          &::after {
            display: none;
          }

          &:hover,
          &:focus {
            .logo-wrapper {
              border-color: #ffffff;
            }
            span {
              color: #ffffff;
            }
          }
        }

        &.active {
          a {
            cursor: default;
            pointer-events: none;
            .logo-wrapper {
              border-color: $col-primary;
            }
            span {
              color: $col-primary;
            }
          }
        }
      }
    }
}



.mobile-top {
  @include fixed(top 0 left 0 right 0);
  z-index: 1000;
  background-color: $col-grey-dark;
  color: #ffffff;
  display: flex;
  padding: 5px;
  display: none;

  .logo {
    flex: 1;
    img {
        display: inline-block;
        max-height: 40px;
        width: auto;
        vertical-align: middle;
    }
    span {
        display: inline-block;
        font-family: $font-heading-family;
        color: $col-primary;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        vertical-align: middle;
        margin-left: 10px;
    }
  }

  .menu-toggle {
    a {
      color: $col-grey-light;
      font-size: 40px;
      vertical-align: middle;
      i {
          display: block;
      }
    }
  }
}



@include media-query('lg', max) {
  .mobile-top {
    display: flex;
  }
  .topbar {
    top: 50px !important;
    left: 0 !important;
    padding: 5px 0 !important;
    border-top: 1px solid $col-grey;
    .title {
      font-size: 16px !important;
      line-height: 20px !important;
      border-left: none !important;
    }
    .user {
      display: none;
    }
    .merchant {
      img {
        max-height: 20px !important;
      }
    }
  }
  .sidebar {
    top: 50px !important;
    width: 100% !important;
    @include transition(transform, .3s, ease-in-out);
    @include transform(translateX(-100%));
    .logo {
      display: none;
    }
    .user {
      display: block !important;
    }
    .links {
      margin-top: 0 !important;
    }
    &.active {
      @include transform(translateX(0px));
    }
  }
  .route-container {
    padding: 80px 10px 20px 10px !important;
  }

  .overlay-switch {
    h2 {
      margin: 12px 0 12px 15px !important;
    }
    ul {
      justify-content: center;
    }
  }

  .overlay-search {
    .fields-container {
      display: block;
      padding: 12px 10px 10px 10px;

      .divider {
        width: 100%;
        height: 24px;
        margin: 15px 0;

        &::before {
          height: 2px;
          width: 100%;
          top: 11px;
          margin: 0;
        }
      }
    }
  }
}
