<div class="app-container">
    <div class="mobile-top">
        <div class="logo">
            <img src="assets/images/digitalplanet.svg" alt="Digital Planet">
            <span>JARVIS</span>
        </div>
        <div class="menu-toggle">
          <a (click)="toggleMobileSidebar()"><i class="appicon">menu</i></a>
        </div>
    </div>
    <div class="sidebar" [class.active]="sidebarMobileActive">
        <div class="logo">
            <img src="assets/images/digitalplanet.svg" alt="Digital Planet">
            <span>JARVIS</span>
        </div>
        <div class="user">
          <span class="email">{{ auth.decodedToken.Email }} ({{ auth.decodedToken.Firstname | titlecase }})</span>
          <a (click)="logout()">LOGOUT <i class="appicon">exit_to_app</i></a>
        </div>
        <div class="links">
            <ul>
                <li *ngIf="merchants.length > 1" class="divider-below"><a (click)="toggleSwitchMerchant()"><i class="appicon">switch_camera</i>Switch Merchant</a></li>
                <li><a (click)="goToDashboard()"><i class="appicon">dashboard</i>Dashboard</a></li>
                <li><a (click)="toggleSearch()"><i class="appicon">search</i>Search</a></li>
            </ul>
        </div>
    </div>
    <div class="route-container">
        <router-outlet></router-outlet>
    </div>
    <div class="topbar">
        <div class="title">{{ routeTitle }}</div>
        <div class="user">
            <span class="email">{{ auth.decodedToken.Email }} ({{ auth.decodedToken.Firstname | titlecase }})</span>
            <a (click)="logout()">LOGOUT <i class="appicon">exit_to_app</i></a>
        </div>
        <div class="merchant">
            <a *ngIf="merchants.length > 1; else singleMerchant" title="Click to switch Merchant" (click)="toggleSwitchMerchant()">
                <img src="{{ merchantLogoBaseUrl }}{{ activeMerchant.image }}" alt="{{ activeMerchant.StoreName }}">
            </a>
            <ng-template #singleMerchant>
                <a [title]="activeMerchant.StoreName" class="single">
                    <img src="{{ merchantLogoBaseUrl }}{{ activeMerchant.image }}" alt="{{ activeMerchant.StoreName }}">
                </a>
            </ng-template>
        </div>
    </div>
</div>
<div class="overlay-search" [class.active]="showSearch">
    <div class="wrapper">
        <a class="close" title="Click to Close Search (or hit Esc)"><i class="appicon" (click)="toggleSearch()">highlight_off</i></a>
        <div class="fields-container">
            <div class="left">
                <form #searchOrderReferenceForm="ngForm" (ngSubmit)="submitSearchByOrder(2)">
                    <h2>Search by <strong>Order</strong> Reference</h2>
                    <div class="field-text light">
                        <input type="text" name="search_order_number" placeholder="Order Number" #searchOrderNumber="ngModel" [(ngModel)]="searchParams.orderNumber">
                        <span class="bar"></span>
                        <label for="search_order_number">Order Number</label>
                    </div>
                    <div class="field-text light">
                        <input type="text" name="search_order_external_reference" placeholder="External Reference" #searchOrderExternal="ngModel" [(ngModel)]="searchParams.orderExternalReference">
                        <span class="bar"></span>
                        <label for="search_external_reference">External Reference</label>
                    </div>
                    <div class="field-button">
                        <button type="submit" class="primary">
                            <i class="appicon">search</i>
                            <span>Search</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="divider"><span>OR</span></div>
            <div class="right">
                <form #searchCustomerReferenceForm="ngForm" (ngSubmit)="submitSearchByOrder(1)">
                    <h2>Search by <strong>Customer</strong> Reference</h2>
                    <div class="field-text light">
                        <input type="text" name="search_customer_name" placeholder="Customer Name" #searchCustomer="ngModel" [(ngModel)]="searchParams.customerName">
                        <span class="bar"></span>
                        <label for="search_customer_name">Customer Name</label>
                    </div>
                    <div class="field-text light">
                        <input type="text" name="search_customer_id" placeholder="Customer ID" #searchCustomerId="ngModel" [(ngModel)]="searchParams.customerId">
                        <span class="bar"></span>
                        <label for="search_customer_id">Customer ID</label>
                    </div>
                    <div class="field-button">
                        <button class="primary">
                            <i class="appicon">search</i>
                            <span>Search</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="overlay-switch" [class.active]="showSwitchMerchant">
    <div class="wrapper">
        <a class="close" title="Click to Close Search (or hit Esc)"><i class="appicon" (click)="toggleSwitchMerchant()">highlight_off</i></a>
        <h2><i class="appicon">switch_camera</i> Switch Merchant</h2>
        <ul>
            <li *ngFor="let merchant of merchants; let i = index" [class.active]="isActiveMerchant(merchant.storeId)" [attr.data-mid]="merchant.storeId">
                <a (click)="switchMerchant(i)" [class.active]="isActiveMerchant(merchant.storeId)">
                    <div class="logo-wrapper">
                        <div class="logo-container">
                            <img src="{{ merchantLogoBaseUrl }}{{ merchant.image }}" alt="{{ merchant.StoreName }}">
                        </div>
                    </div>
                    <span>{{ merchant.StoreName }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
