<div class="landing">
  <div class="flex-left">
    <div class="block">
      <img src="assets/images/digitalplanet.svg" alt="">
      <h1 class="hero">Jarvis</h1>
    </div>
  </div>
  <div class="flex-right">
    <router-outlet></router-outlet>
  </div>
</div>
