@import "abstracts";

.landing {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .flex-left,
  .flex-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-left {
    background-image: url('/assets/images/dpforklift.jpeg');
    background-size: cover;
    background-position-x: right;
    text-align: center;

    img {
      width: 50%;
      max-width: 50%;
    }
    h1.hero {
      color: $col-primary;
      text-transform: uppercase;
      font-size: 4em;
      margin: 0;
      letter-spacing:  5px;
    }
  }

  // .flex-right {}

  @include media-query('lg', max) {
    display: block;

    .flex-left {
      img {
        margin-top: 20px;
        width: 30%;
      }
      h1 {
        font-size: 2em !important;
        line-height: 1em;
        margin: 10px auto 20px auto !important;
      }
    }
  }
}
