@import "abstracts";

.field-text {
    width: 340px;

    @include media-query('sm', max) {
      width: 300px;
     }
}

.login-error {
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  border: 1px solid $col-error;
  font-weight: 500;
  font-size: .875em;
  color: $col-error;
  background-color: lighten($col-error, 40%);
  display: none;

  &.active {
    display: block;
  }
}