<form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login()" novalidate>
  <div class="field-text with-icon" [ngClass]="{ 'invalid': loginForm.submitted && username.invalid }">
    <input type="text" id="username" name="username" placeholder="USERNAME" [(ngModel)]="model.username" #username="ngModel" autocomplete="off" required>
    <i class="appicon">person</i>
    <span class="bar"></span>
    <label for="username">Username</label>
    <span *ngIf="loginForm.submitted && username.invalid" class="error">Please enter your username above</span>
  </div>

  <div class="field-text with-icon" [ngClass]="{ 'invalid': loginForm.submitted && password.invalid }">
    <input type="password" autocomplete="off" name="password" placeholder="PASSWORD" [(ngModel)]="model.password" #password="ngModel" required>
    <i class="appicon">lock</i>
    <span class="bar"></span>
    <label for="password">Password</label>
    <span *ngIf="loginForm.submitted && password.invalid" class="error">Please enter your password above</span>
  </div>

  <div class="field-button">
    <div class="sk-cube-grid" [class.active]="loading">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
    <button class="primary" type="submit" [disabled]="loading">
      <i class="appicon">vpn_key</i>
      <span>LOGIN</span>
    </button>
  </div>
  <div class="login-error" [class.active]="showLoginError">
    {{ loginErrorMessage }}
  </div>
</form>
