@function calculateRem($size) {
	$remSize: $size / $base-font-size;
	@return $remSize * 1rem;
}

@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}