@import "variables";

// ============================================================================ FONT-SIZE
@mixin font-size($size) {
	@if unitless($size) {
		$size: $size * 1px;
	}
	font-size: $size;
	font-size: calculateRem($size);
}


// ============================================================================ INPUT PLACEHOLDER STYLES
@mixin input-placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder { @content; opacity: 1; }
	&::-moz-placeholder { @content; opacity: 1; }
	&:-ms-input-placeholder { @content; }
	&::-ms-input-placeholder { @content; }
	&::placeholder { @content; }
}
/*  USAGE
---------
	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}
---------
*/

// ============================================================================ WHEN HARDWARE ACCELERATION IS REQUIRED
@mixin hardware-accelerate($backface: true, $perspective: 1000) {
	@if $backface {
		backface-visibility: hidden;
	}
	perspective: $perspective;
}


// ============================================================================ MEDIA QUERIES
@mixin media-query($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}
/*
USAGE
-----
	.site-header {
		padding: 2rem;
		font-size: 1.8rem;
		@include media-query('tablet-wide') {
			padding-top: 4rem;
			font-size: 2.4rem;
		}
	}
---------
*/

// ============================================================================ PURE CSS TRIANGLES
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
	@include pseudo($pos: $position);
	width: 0;
	height: 0;
	@if $round {
		border-radius: 3px;
	}
	@if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
		margin-top: 0 - round( $size / 2.5 );
	} @else if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
		margin-bottom: 0 - round( $size / 2.5 );
	} @else if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
		margin-right: -$size;
	} @else if  $direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
		margin-left: -$size;
	}
}
/*  USAGE
---------

 */



// ============================================================================ GENERATE A BOX/CIRCLE
@mixin box($width, $height:$width) {
	width: $width;
	height: $height;
}

@mixin circle($diameter) {
	@include box($diameter);
	border-radius: 50%;
}


// ============================================================================ POSITIONING
@mixin position($position, $args) {
	@each $o in top right bottom left {
		$i: index($args, $o);
		@if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
			#{$o}: nth($args, $i + 1);
		}
	}
	position: $position;
}
// Positioning helpers
@mixin absolute($args: '') {
	@include position(absolute, $args);
}
@mixin fixed($args: '') {
	@include position(fixed, $args);
}
@mixin relative($args: '') {
	@include position(relative, $args);
}
/*  USAGE
---------
	.menu li {
		@include relative;
	}
	.sub-menu {
		@include absolute(top 100% left 0);
	}
	.sticky-bar {
		@include fixed(top 0 left 0);
	}
---------
*/



// ============================================================================ VENDOR PREFIXING
@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
	@if $vendors {
		@each $vendor in $vendors {
			#{"-" + $vendor + "-" + $property}: #{$value};
		}
	}
	@if $default {
		#{$property}: #{$value};
	}
}
/*  USAGE
---------
html {
  @include prefix('box-sizing', border-box, moz webkit);
}
*,
*:before,
*:after {
  @include prefix('box-sizing', inherit, moz webkit);
}
---------
*/


// ============================================================================ COMMON VENDOR-PREFIXED MIXINS
@mixin transform($transformation) {
	@include prefix('transform', $transformation, webkit ms);
}

@mixin transition($props: all, $time: .5s, $timing-function: ease-in-out) {
	@include prefix('transition', $props $time $timing-function, moz webkit);
}

@mixin box-sizing($value) {
	@include prefix('box-sizing', $value, moz webkit);
}


// ============================================================================ RETINA IMAGES
@mixin retina($image, $bg-size-width, $bg-size-height) {
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
		/* Serving 2x image on Retina display */
		background-image: url($image);
		background-size: $bg-size-width $bg-size-height;
	}
}
/* USAGE
--------
	.logo {
		background-image: url("img/logo.png");
		@include retina("img/logo@2x.png", 100px, 21px);
	}
---------
*/


// ============================================================================ BACKGROUND GRADIENT
@mixin gradient($start-color, $end-color, $orientation) {
	background: $start-color;
	@if $orientation == 'vertical' {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	} @else if $orientation == 'horizontal' {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	} @else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}
/*  USAGE
---------
	.gradient {
		@include gradient(#07c, #06f, vertical);
	}
--------
*/


// ============================================================================ ALIGNMENT (NON-FLEXBOX)
@mixin center-h {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@mixin center-vh {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}
/* USAGE
---------
.wrapper {
	@include center-h;
}
.vc-box {
	@include center-vh;
}
---------
*/


// ============================================================================ FONT-FACE
@mixin font-face($font-name, $file-name, $weight: 400, $style: normal) {
	@font-face {
		font-family: quote($font-name);
		src: url($file-name + '.eot');
		src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
		     url($file-name + '.woff') format('woff'),
			 url($file-name + '.ttf')  format('truetype'),
			 url($file-name + '.svg##{$font-name}')  format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}
/*
	.icons {
		@include font-face('Material_Icons', '../fonts/MaterialIcons')
	}
*/


// ============================================================================ OPACITY
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity = $opacity-ie); //IE8
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
}


// ============================================================================
@mixin border-radius-each($top-left-radius, $top-right-radius, $bottom-right-radius, $bottom-left-radius) {
	@include prefix('border-top-left-radius', $top-left-radius, moz webkit);
	@include prefix('border-top-right-radius', $top-right-radius, moz webkit);
	@include prefix('border-bottom-right-radius', $bottom-right-radius, moz webkit);
	@include prefix('border-bottom-left-radius', $bottom-left-radius, moz webkit);
}
/*  USAGE
---------
button {
	@include border-radius-separate(0, 10px, 0, 10px);
}
---------
*/


// ============================================================================ ANIMATION
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}
@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}
/*  USAGE
---------
// Define animation name, and properties
@include keyframes(fade-out) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
// Add animation to element
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('fade-out 5s 3');
}
---------
*/


// ============================================================================ EMBOSSING TEXT SHADOW
@mixin text-shadow($opacity) {
	text-shadow: rgba(255, 255, 255, $opacity) 0 1px 0;
}


// ============================================================================ BOX SHADOW
@mixin box-shadow($colour, $h-offset: 0px, $v-offset: 0px, $blur-radius: 5px, $inset: false, $spread: 0) {
	@if $inset == true {
		@include prefix('box-shadow', inset $h-offset $v-offset $blur-radius $spread $colour, webkit moz)
	}
	@else {
		@include prefix('box-shadow', $h-offset $v-offset $blur-radius $spread $colour, webkit moz)
	}
}


// ============================================================================ USER SELECT
@mixin user-select($value) {
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
	-khtml-user-select: $value;
}


// HIDE UI ELEMENT
@mixin hide-ui-element() {
	display: none;
	//display: block !important;
	@include absolute(top 0 left 0);
	pointer-events: none;
	clip: rect(0px, 0px, 0px, 0px);
	z-index: 0;
	@include opacity(0);
}