// ============================================================================ USER CONFIGURATIONS
$use-standard-hyperlink-decoration:		false;
$use-colour-for-input-focus-shadow:		true;



// ============================================================================ COLOURS
$col-background:            #F9F9F9;

$col-primary:               #FFC400;
$col-primary-light:         #FFEDB3;
$col-primary-dark:          #FFA200;

$col-grey-lightest:			#E7E7E7;
$col-grey-light:            #D1D1D1;
$col-grey:					#5E5E5E;
$col-grey-dark:				#383838;
$col-grey-darkest:			#202020;

$col-error:                 #DB3A34;
$col-error-alt:             #931621;

$col-text:                  #2c2c2c;
$col-text-subdued:          #7c7c7c;

$col-forms-placeholder:		#cccccc;
$col-forms-label:			#586464;
$col-forms-helper:			#8c8c8c;
$col-forms-optional:		#8c8c8c;
$col-forms-disabled-label:	#afafaf;
$col-forms-disabled-input:	#cfcfcf;


// ============================================================================ PREFIX/SUFFIX
$forms-optional-prefix:		'[';
$forms-optional-suffix:		']';


// ============================================================================ FONTS
$base-font-size:            16px !default;
$font-heading-family:       'Raleway', sans-serif;
$font-heading-weight:		300;
$font-heading-lineheight:	1.5em;
$font-body-family:          'Roboto', sans-serif;
$font-body-weight:          300;
$font-body-lineheight:      1.5em;


// ============================================================================ MEDIA QUERIES
$breakpoints: (
	"phone":        400px,
	"phone-wide":   480px,
	"phablet":      560px,
	"tablet-small": 640px,
	"tablet":       768px,
	"tablet-wide":  1024px,
	"desktop":      1248px,
	"desktop-wide": 1440px,
	"xs": 320px,
	"sm": 480px,
	"md": 768px,
	"lg": 940px,
	"xl": 1200px
);
